 // require_tree .
 // require_self
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro|PT+Sans|Arimo);
 @import "form";
 @import "todo_items";
 @import "todo_lists";

body {
  background-color: #6BACBF;
}

.notice {
  color: white;
}

.container {
   margin: 0 auto;
   width: 60%;
   font-family: 'PT Sans';
  //  border: 5px solid #0065C3;
   border-radius: 30px;
   text-align: left;
   background-color: #f6fbfb;
   box-shadow: 3px 3px 1px #204b52;
 }

 .button-wrapper {
   margin-top: 5px;
   text-align: center;
 }

 .index_row {
   text-align: center;
 }

 .links {
   text-align: center;
   padding-bottom: 3px;
 }

 .todo-title {
   font-size: 20px;
   margin-bottom: 0px;
 }
